# *******************************************************************************************
# THIS file will tell git which folders and/or files to ignore

# *******************************************************************************************